#contenedor{
    margin: 0 auto;
    border: 1px solid;
    width: 600px;height: 600px;
    z-index: 20;
}
#texto{
    z-index: 15;
    position:relative;
    top:200px;left: 400px;
    width: 300px;height: 200px;
    background-color: rgba(49, 53, 49,1);
}
#capa1{
    z-index: 18;
    margin: 0 auto;
    background-color: rgba(23, 180, 253, 1);
    width: 600px;
    height: 600px;
}