div.cuadrado{
    width: 150px;
    height: 30px;
    margin-top: 2.5px;margin-bottom: 2.5px;
}
div.cuadrado:nth-of-type(1){
    background-color: rgba(0, 0, 255, 0.10);
}
div.cuadrado:nth-of-type(2){
    background-color: rgba(0, 0, 255, 0.25);
}
div.cuadrado:nth-of-type(3){
    background-color: rgba(0, 0, 255, 0.50);
}
div.cuadrado:nth-of-type(4){
    background-color: rgba(0, 0, 255,1);
}

/*Segundo*/
h2:nth-of-type(2)+div{
    background-color: rgb(255, 238, 0);
    width: 300px;
    padding: 5px;
}
h2:nth-of-type(2)+div div:nth-of-type(1){
    background-color: rgb(0, 255, 0,0.10);
}
h2:nth-of-type(2)+div div:nth-of-type(2){
    background-color: rgb(0, 255, 0,0.25);
}
h2:nth-of-type(2)+div div:nth-of-type(3){
    background-color: rgb(0, 255, 0,0.50);
}
h2:nth-of-type(2)+div div:nth-of-type(4){
    background-color: rgb(0, 255, 0,1);
}
/*Tercero*/
h2:nth-of-type(3)+div{
    background-image:url(../imagenes/nieve.gif) ;
    width: 300px;
    padding: 5px;
}
h2:nth-of-type(3)+div div:nth-of-type(1){
    background-color: rgba(252, 143, 19, 0.1);
}
h2:nth-of-type(3)+div div:nth-of-type(2){
    background-color: rgb(252, 143, 19,0.25);
}
h2:nth-of-type(3)+div div:nth-of-type(3){
    background-color: rgb(252, 143, 19,0.50);
}
h2:nth-of-type(3)+div div:nth-of-type(4){
    background-color: rgb(252, 143, 19,1);
}
/*Último*/
h2:nth-of-type(4)+div{
    background-image:url(../imagenes/nieve.gif) ;
    width: 300px;
    padding: 5px;
}
h2:nth-of-type(4)+div div:nth-of-type(1){
    color:rgba(255,0,0,0.5);
    font-size: 28px;
}
h2:nth-of-type(4)+div div:nth-of-type(2){
    color:rgba(255,0,0,0.8);
    font-size: 28px;
}

