#ejercicio2{
    position: relative;
}
#ejercicio2 p{
    position: absolute;
    font-size: 50px;
    top:162.5px;left: 462.5;
}

#ejercicio2 p{
    transition: all 2s linear 0s;
}

#ejercicio2:hover p:nth-child(1){
    transform: translate(-462.5px,-175.5px);
    transition: all 2s linear 0s;
}

#ejercicio2:hover p:nth-child(2){
    transform: translate(502.5px,-175.5px);
    transition: all 2s linear 0s;
}

#ejercicio2:hover p:nth-child(3){
    transform: translate(502.5px,185.5px);
    transition: all 2s linear 0s;
}

#ejercicio2:hover p:nth-child(4){
    transform: translate(-462.5px,185.5px);
    transition: all 2s linear 0s;
}
