
div{
    width: 200px;
    float: left;
    padding-left: 10px;
    margin: 10px;
}
div:nth-of-type(1),div:nth-of-type(3){
    background-color: rgba(59, 53, 53, 0.3);
}
div:nth-of-type(2),div:nth-of-type(4){
    background-color: rgb(206, 187, 22,0.8);
}
#recuadro1{
    border-radius: 20px;
}
#recuadro2{
    border-radius: 10px 35px 35px 10px;
}
#recuadro10{
    border-radius: 15px 0px;
}
#recuadro20{
    border-radius: 0 35px 0 0;
}
p.limpiar{
    clear: both;
}
#demo{
    border: 1px solid;
    width: 800px;
}
#demo ul li{
    float: left;
    height: 40px;
    list-style-type: none ;
    margin-left: 10px;margin-right: 10px;margin-bottom: 10px;
    padding:5px 10px;
    border: 1px solid;
    background-color: aqua;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color:white;
    display: block; 
    font-size: 20px;
    padding-top:10px ;padding-bottom: 10px; 
}