div#demo *{
    margin: 0px;padding: 0px;
}
div{
    width: 200px;
    float: left;
    padding-left: 10px;
    margin: 10px;
}
div:nth-of-type(1),div:nth-of-type(3){
    background-color: rgba(59, 53, 53, 0.3);
}
div:nth-of-type(2),div:nth-of-type(4){
    background-color: rgb(206, 187, 22,0.8);
}
#recuadro1{
    border-radius: 20px;
}
#recuadro2{
    border-radius: 10px 35px 35px 10px;
}
#recuadro10{
    border-radius: 15px 0px;
}
#recuadro20{
    border-radius: 0 35px 0 0;
}
p.limpiar{
    clear: both;
}
#demo{
    border: 1px solid;
    width: 800px;
}
#demo ul li{
    float: left;
    height: 40px;
    list-style-type: none ;
    margin: 10px;
    border-radius: 10px;
}
#demo ul li a{
    text-decoration: none;
    color:white;
    display: block; 
    font-size: 20px;
    padding:10px 5px;
}
li:nth-of-type(1){
    background-color: red;
}
li:nth-of-type(2){
    background-color: green;
}
li:nth-of-type(3){
    background-color: yellow;
}
li:nth-of-type(4){
    background-color: pink;
}
li:nth-of-type(5){
    background-color: blue;
}