
div#estilizado{
    margin: 0 auto;
    width: 435px;
    border-radius: 10px;
    background-color: rgba(79, 80, 79,0.3);
    padding: 10px;
}
span.small{
    font-size: small;
    color: rgba(79, 80, 79,0.8);
}