*{
    margin: 0px;padding: 0px;
}
div{
    width: 300px;height: 300px;
    border: 7px red dashed;
    float: left;
    margin-left: 25px;margin-bottom: 20px ;
    color: white;
    text-align: center;
    padding-top: 15px;
}
p{
    clear: both;
    margin: 10px;
}
div:nth-of-type(1){
    background-image: url(../Border-Imagen/imagenes/perro.png);
    background-color: rgb(53, 54, 53);
    background-repeat: no-repeat;
    background-origin: border-box;
}
div:nth-of-type(2){
    background-image: url(../Border-Imagen/imagenes/perro.png);
    background-color: rgb(53, 54, 53);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-origin: padding-box;
} 
div:nth-of-type(3){
    background-image: url(../Border-Imagen/imagenes/perro.png);
    background-color: rgb(53, 54, 53);
    background-repeat: no-repeat;
    background-origin: content-box;
} 
div:nth-of-type(4){
    background-image: url(../Border-Imagen/imagenes/perro.png);
    background-clip: border-box;
}
div:nth-of-type(5){
    background-image: url(../Border-Imagen/imagenes/perro.png); 
    background-clip: padding-box;
} 
div:nth-of-type(6){
    background-image: url(../Border-Imagen/imagenes/perro.png);
    background-clip: content-box;
} 

div:nth-last-child(1){
    width: 300px;height: 300px;
    margin-left: 25px;margin-bottom: 20px ;
    color: black;
    padding: 0px;
    border: unset;
    background-image: url(../Border-Imagen/imagenes/lupa.png),url(../Border-Imagen/imagenes/perro.png),url(../Border-Imagen/imagenes/zorro.png);
    background-clip: content-box;
} 