div#cajasombra{
    width: 300px;
    padding: 15px;
    background-color: rgba(61, 61, 61,0.3);
    box-shadow: 10px 5px rgba(61, 61, 61,0.8);
}
#cajanegra{
    background-color: black;
    width: 300px;
    padding: 15px;
    
}
#sombraclara{
    background-color: rgb(97, 96, 96);
    padding: 10px;
    width: 250px;
    color: white;
    box-shadow: 5px 5px 2.5px white;
}
#sombraredondeada{
    border-radius: 10px;color:white;
    background-color: rgba(0, 255, 0, 1);
    padding:15px 10px;
    width: 450px;
    box-shadow: 15px -10px 2.5px black;
}
#resplandor{
    background-color: black;
    padding:25px;
    margin-bottom: 25px;
}
#resplandor *{
    color: white;
} 
#resplandorblanco{
    width: 300px;
    padding:20px;
    margin-bottom: 60px;
    border: 1px solid white;
    box-shadow: 0px 0px 25px white;
}
#resplandorverde{
    width: 300px;
    padding:20px;
    border:1px solid rgb(35, 219, 60);
    box-shadow: 0px 0px 25px rgb(35, 219, 60);
}
.cajasimple_sombrasimple{
    border: 1px solid black;
    width: 150px;height: 50px;
    box-shadow: 10px 10px 0px blue;
    margin-right: 20px;
    float: left;
    margin-bottom: 50px;
}
.cajasimple_sombrainterna{
    float: left;
    border: 1px solid black;
    width: 150px;height: 50px;
    box-shadow:inset 2.5px 2.5px 8px 0;
    margin-right: 20px;
}
.cajasimple_sombramultiple{
    float: left;
    border: 1px solid black;
    width: 150px;height: 50px;
    box-shadow:0px 0px 35px rgb(255, 0, 0),0px 0px 35px rgb(0, 255, 0),0px 0px 35px rgb(0, 0, 255),0px 0px 35px rgb(255, 255, 0);
    margin-right: 20px;
}
.cajasimple_sombraopaca{
    float: left;
    border: 1px solid black;
    width: 150px;height: 50px;
    box-shadow:10px 10px 8px rgba(61, 61, 61,0.8);
    margin-right: 20px;
}
.cajasimple_sombraintext{
    float: left;
    border: 1px solid black;
    width: 150px;height: 50px;
    box-shadow:inset 2.5px 2.5px 3.5px 0, 2.5px 2.5px 5px black;
    margin-right: 20px;
}