* {
    margin: 0px;
    padding: 0px;
}

div#Contenedor-coche {
    border: 1px solid black;
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}


div.rueda1, div.rueda2 {
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    left: 0px;
}

div.rueda1{
    top:0px;
}
div.rueda2{
    bottom:0px;
}
div.ventanilla {
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    position: absolute;
    top:0px; right: 0px;
    animation-name: ventanilla;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

div.chasis {
    background-color: red;
    width: 200px;
    height: 100px;
    border-radius: 5px; 
    position: absolute;
    bottom: 0px;right: 0px;
}

div.chasis:hover {
    top: 50px;
    left: 400px;
}
div.ventanilla:hover {
    top:60px;
    left: 500px;
}


@keyframes ventanilla {
    0% {
        top:0px;
        left:980px
    }
    66.67% {
        top:0px;
        left:980px
    }
    73.33% {
        top:60px;
        left: 500px;
    }
    86.67% {
        top:60px;
        left: 500px;
    }
    93.33% {
        top:0px;
        left:980px
    }
    100% {
        top:0px;
        left:980px
    }
}
























div#cartel {
    width: 1010px;
    height: 300px;
    margin: 0 auto;
    border: 1px solid black;
    perspective: 600px;
}


div#cartel > div {
    position: relative;
    float: left;
    width: 200px;height: 300px;
    transform-style: preserve-3d;
}

div#cartel div div {
    width: 200px;
    height: 300px;
    border: 1px solid white;
    position: absolute;
}

div#cartel div div:nth-child(1) {
    background-image: url("../img/cartel1.jpg");
}

div#cartel div div:nth-child(2) {
    background-image: url("../img/cartel2.jpg");
}

div#cartel div div:nth-child(3) {
    background-image: url("../img/cartel3.jpg");
}

div#cartel div:nth-child(1) div:nth-child(1) {
    background-position: 0px 0px;
    transform: rotateY(0deg) translateZ(58px);
}

div#cartel div:nth-child(2) div:nth-child(1) {
    background-position: -200px 0px;
    transform: rotateY(0deg) translateZ(58px);
}

div#cartel div:nth-child(3) div:nth-child(1) {
    background-position: -400px 0px;
    transform: rotateY(0deg) translateZ(58px);
}

div#cartel div:nth-child(4) div:nth-child(1) {
    background-position: -600px 0px;
    transform: rotateY(0deg) translateZ(58px);
}

div#cartel div:nth-child(5) div:nth-child(1) {
    background-position: -800px 0px;
    transform: rotateY(0deg) translateZ(58px);
}

div#cartel div:nth-child(1) div:nth-child(2) {
    background-position: 0px 0px;
    transform: rotateY(120deg) translateZ(58px);
}

div#cartel div:nth-child(2) div:nth-child(2) {
    background-position: -200px 0px;
    transform: rotateY(120deg) translateZ(58px);
}

div#cartel div:nth-child(3) div:nth-child(2) {
    background-position: -400px 0px;
    transform: rotateY(120deg) translateZ(58px);
}

div#cartel div:nth-child(4) div:nth-child(2) {
    background-position: -600px 0px;
    transform: rotateY(120deg) translateZ(58px);
}

div#cartel div:nth-child(5) div:nth-child(2) {
    background-position: -800px 0px;
    transform: rotateY(120deg) translateZ(58px);
}

div#cartel div:nth-child(1) div:nth-child(3) {
    background-position: 0px 0px;
    transform: rotateY(240deg) translateZ(58px);
}

div#cartel div:nth-child(2) div:nth-child(3) {
    background-position: -200px 0px;
    transform: rotateY(240deg) translateZ(58px);
}

div#cartel div:nth-child(3) div:nth-child(3) {
    background-position: -400px 0px;
    transform: rotateY(240deg) translateZ(58px);
}

div#cartel div:nth-child(4) div:nth-child(3) {
    background-position: -600px 0px;
    transform: rotateY(240deg) translateZ(58px);
}

div#cartel div:nth-child(5) div:nth-child(3) {
    background-position: -800px 0px;
    transform: rotateY(240deg) translateZ(58px);
    
}

div#cartel > div:nth-child(1) {
    animation-name: triangulo1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
div#cartel > div:nth-child(2) {
    animation-name: triangulo2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
div#cartel > div:nth-child(3) {
    animation-name: triangulo3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
div#cartel > div:nth-child(4) {
    animation-name: triangulo4;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
div#cartel > div:nth-child(5) {
    animation-name: triangulo5;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes triangulo1 {
    0% {
        transform: rotateY(0deg);
    }
    5.56% {
        transform:rotateY(0deg);
    }
    11.11% {
        transform:rotateY(120deg);
    }
    38.89% {
        transform:rotateY(120deg);
    }
    44.44% {
        transform:rotateY(240deg);
    }
    72.22% {
        transform:rotateY(240deg);
    }
    77.48% {
        transform:rotateY(360deg);
    }
    100% {
        transform:rotateY(360deg);
    }
}

@keyframes triangulo2 {
    0% {
        transform: rotateY(0deg);
    }
    11.11% {
        transform:rotateY(0deg);
    }
    16.67% {
        transform:rotateY(120deg);
    }
    44.44% {
        transform:rotateY(120deg);
    }
    50% {
        transform:rotateY(240deg);
    }
    77.78% {
        transform:rotateY(240deg);
    }
    83.33% {
        transform:rotateY(360deg);
    }
    100% {
        transform:rotateY(360deg);
    }
}

@keyframes triangulo3 {
    0% {
        transform: rotateY(0deg);
    }
    16.67% {
        transform:rotateY(0deg);
    }
    22.22% {
        transform:rotateY(120deg);
    }
    50% {
        transform:rotateY(120deg);
    }
    55.56% {
        transform:rotateY(240deg);
    }
    83.33% {
        transform:rotateY(240deg);
    }
    88.89% {
        transform:rotateY(360deg);
    }
    100% {
        transform:rotateY(360deg);
    }
}

@keyframes triangulo4 {
    0% {
        transform: rotateY(0deg);
    }
    22.22% {
        transform:rotateY(0deg);
    }
    27.78% {
        transform:rotateY(120deg);
    }
    55.56% {
        transform:rotateY(120deg);
    }
    61.11% {
        transform:rotateY(240deg);
    }
    88.89% {
        transform:rotateY(240deg);
    }
    94.44% {
        transform:rotateY(360deg);
    }
    100% {
        transform:rotateY(360deg);
    }
}

@keyframes triangulo5 {
    0% {
        transform: rotateY(0deg);
    }
    27.78% {
        transform:rotateY(0deg);
    }
    33.33% {
        transform:rotateY(120deg);
    }
    61.11% {
        transform:rotateY(120deg);
    }
    66.67% {
        transform:rotateY(240deg);
    }
    94.44% {
        transform:rotateY(240deg);
    }
    100% {
        transform:rotateY(360deg);
    }
}