ul li {
    float:left;
    display:block;
    width:150px;
    height:80px;
    margin:25px;
    text-align:center;
    padding-top:60px;
    background-color:#3366CC;
    color:#FFFFFF;
    font-size:18px;
}
.uno{
    transition: background 2s 0s;
}
.uno:hover{
    background-color: black;
    transition: all 2s 0s;
}
.dos{
    transition: border-radius 2s 0s;
}
.dos:hover{ 
    border-radius: 0px 120px;
    transition: all 2s 0s;
}
.tres{
    transition: border-radius 2s 0s;
}
.tres:hover{
    border-radius: 150px;
    transition: all 2s 0s;
}
.cuatro:hover{
    border: 30px solid red;
    height:20px;
	width:80px;
    transition: all 2s 0s;
}
.cinco {
    transition: box-shadow 2s 0s;
}

.cinco:hover {
    box-shadow: 5px 10px 3px black;
}
.seis {
  transition: box-shadow 2s 0s;
}
  
.seis:hover {
    box-shadow:5px 10px 5px rgba(0,0,0,0.5), 
}

