*:not(ul){
    margin: 0px;padding: 0px;
}

div#contenedor{
    border: 1px solid black;
    width: 500px;
    margin: 0 auto;
    position: relative;
    top: 150px;
}
div#contenedor h2{
    text-align: center;
}


p::first-letter{

}

p::first-line{

}

p::before{

}

p::after{

}

p::selection{

}

a[href^="https"]{
    color:red;
}

a[href$=".pdf"]{
    color: green;
    background-image: url("../imagenes/pdf.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-y: center;
    padding: 15px;
}

a[href*="gmail"]{
    color: aqua;
}
